apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: default
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 30000
